nav {
  background-color: #fff;
}

.logo {
  font-family: Montserrat, serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: rgb(10 147 255);
}

.appLink {
  font-family: Montserrat, serif;
  text-decoration: none;
  letter-spacing: 1.9px;
  color: rgb(20, 20, 20);
}

.appLink:hover {
  color: rgb(8, 94, 160);
}

.bi-person-fill {
  color: rgb(10 147 255);
}
